server/.idea/
server/gradle/
server/.gradle/
.idea/
server/src/main/resources/application.properties
server/src/main/resources/schema.sql
server/src/main/resources/data.sql
server/build
client/node_modules/
client/watchmanconfig
client/node_modules/
client/android/build/