server/.idea/
server/gradle/
server/.gradle/
.idea/
server/src/main/resources/application-prod.properties
server/src/main/resources/schema.sql
server/src/main/resources/data.sql
server/build
server/bin
server/target
server/out
.env